@charset "utf-8";
/*CSS document*/

.container{
	position: relative;
	width: 80%;
	border-radius: 1px solid #000;
	margin: auto;

}

.container h2 {
	text-align: center;
	color: #ff6d00;
	background-color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 45px;

 	}

.container p{
	text-align: center;
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 30px;

}

.iCon{
	width: 18%;
	display:inline-block;
	padding-left: 50px;
}

.iCon h3{
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;

}

.iCon img{
	width: 400px;
	height: 200px;
	display: block;
}

.iCon p{
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

img:hover{ 
background-color:#f9c491;

}





